<!-- Hot topic -->
<div class="col-xs-12 col-md-4 hot-topic">
    <div class="accordion">

        <div id="tab-1">

            <a href="#tab-1" class="tab">CNN: Top Stories</a>

            <div class="content">

                <!--<img src="img/post-img-1.png" alt="">-->

                <!--<h1>The Big Elephant in the City</h1>-->

                <!--<span>5 days ago</span> <em class="bullet"></em> <span>17 comments</span>-->

                <!--<p>Known locally as "SoMa", this neighborhood was home to the dot.com boom and boasts-->
                    <!--cutting-edge restaurants and boutiques.</p>-->

                <!--<ul>-->
                    <!--<li><img src="img/thumb-1.png" alt=""></li>-->
                    <!--<li><img src="img/thumb-2.png" alt=""></li>-->
                    <!--<li><img src="img/thumb-3.png" alt=""></li>-->
                <!--</ul>-->

                <hot-topic-feed [url]="feeds[0]"></hot-topic-feed>


            </div>

        </div>

        <div id="tab-2">

            <a href="#tab-2" class="tab">US Department of Education</a>

            <div class="content">

                <!--<img src="img/post-img-2.png" alt="">-->

                <!--<h1>The Big Elephant in the City 2</h1>-->

                <!--<span>3 days ago</span> <em class="bullet"></em> <span>9 comments</span>-->

                <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod-->
                    <!--tempor incididunt ut labore et dolore magna aliqua.</p>-->

                <!--<ul>-->
                    <!--<li><img src="img/thumb-3.png" alt=""></li>-->
                    <!--<li><img src="img/thumb-2.png" alt=""></li>-->
                    <!--<li><img src="img/thumb-1.png" alt=""></li>-->
                    <!--<li><img src="img/thumb-2.png" alt=""></li>-->
                <!--</ul>-->

                <hot-topic-feed [url]="feeds[1]"></hot-topic-feed>

            </div>

        </div>

        <div id="tab-3">

            <a href="#tab-3" class="tab">Ted Education</a>

            <div class="content">

                <!--<img src="img/post-img-2.png" alt="">-->

                <!--<h1>The Big Elephant in the City 3</h1>-->

                <!--<span>2 hours ago</span> <em class="bullet"></em> <span>1 comments</span>-->

                <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod-->
                    <!--tempor incididunt ut labore et dolore magna aliqua.</p>-->

                <!--<ul>-->
                    <!--<li><img src="img/thumb-2.png" alt=""></li>-->
                    <!--<li><img src="img/thumb-1.png" alt=""></li>-->
                    <!--<li><img src="img/thumb-3.png" alt=""></li>-->
                <!--</ul>-->

                <hot-topic-feed [url]="feeds[2]"></hot-topic-feed>

            </div>

        </div>

    </div>
</div>
