<div id="home-component">

    <!--<home-nav-top></home-nav-top>-->

    <div class="container-fluid main-content">

        <!--<home-nav-content></home-nav-content>-->

        <div class="container-fluid">

            <div class="row">

                <home-news></home-news>
                <home-hot-topic></home-hot-topic>

            </div>

            <div class="row">

                <div class="section-home home-reasons">

                    <div class="container">

                        <div class="row">

                            <div class="col-md-6 home-profile">
                                <home-profile></home-profile>
                            </div>

                            <div class="col-md-6 home-courses">
                                <home-courses></home-courses>
                            </div>

                        </div>

                    </div>

                </div> <!-- /.home-reasons -->

            </div>

            <div class="row">

                <div class="section-home home-reasons">

                    <div class="container">

                        <div class="row">

                            <div class="col-md-6 home-trading">
                                <home-trading></home-trading>
                            </div>

                            <div class="col-md-6 home-discussion">
                                <home-discussion></home-discussion>
                            </div>

                        </div>

                    </div>

                </div> <!-- /.home-reasons -->

            </div>
        </div>
    </div>
</div>
