#home-component {
  /*background-image: url('http://www.fondosblackberry.com/user-content/uploads/wall/o/94/blue-blur-80_background.jpg');
  background-size: 100% 100%;*/
  /*background-color: #fff;;*/
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  line-height: 1;
  background: url('img/denim.png');
  font-family: 'Droid Sans', sans-serif;
}

.navbar-static-top {
  position: fixed;
  width: 100%;
}

.container-fluid.main-content {
  margin: auto 10%;
}

.container-fluid .row .hot-topic {
  height: 500px;
  padding: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* home/ about-us
================================= */
.about-us {
  margin: 30px 0;
}

.about-us-col{
  height: 325px;
  padding: 25px;
  text-align: center;
  background-color: #0076a3;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMjgwODE0IiB5MT0iLTAuMTAyMjA4IiB4Mj0iMC43MTkxODYiIHkyPSIxLjEwMjIwOCI+PHN0b3Agb2Zmc2V0PSItMjUlIiBzdG9wLWNvbG9yPSIjMTE1YjliIi8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiMxMjkwZjgiLz48c3RvcCBvZmZzZXQ9IjEyNSUiIHN0b3AtY29sb3I9IiMxMTViOWIiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -moz-linear-gradient(290deg, #115b9b -25%, #1290f8 50%, #115b9b 125%);
  background-image: -webkit-linear-gradient(290deg, #115b9b -25%, #1290f8 50%, #115b9b 125%);
  background-image: linear-gradient(160deg, #115b9b -25%, #1290f8 50%, #115b9b 125%);
  color: #fff;
}
.about-us-col .col-icon-wrapper {
  min-height: 80px;
}
.about-us-col .col-title {
  text-transform: uppercase;
}
.about-us-col .col-details {
  text-align: justify;
  margin-bottom: 25px;
  min-height: 80px;
}

/* home/reasons
================================= */
.home-reasons {
  margin: 25px 0;
}

.section-home .container {
  margin: 0;
  padding: 0;
  width: 100%;
}

.home-profile {
  padding-right: 15px;
}
.home-courses {
  padding-left: 15px;

}
.home-trading {
  padding-right: 15px;
}
.home-discussion {
  padding-left: 15px;
}

.router-list{
  color: azure;
  text-align: center;
}