<!-- Footer section -->
<footer class="footer">
    <div class="container-fluid col-xs-12 col-md-12">
        <div class="row">
            <!-- footer col1 -->
            <div class="col-xs-6 col-md-3">
                <h5>Home Page</h5>
                <ul>
                    <li>by Bing Shi</li>
                    <li>an amazing girl</li>
                    <li><a href="#">Contact her</a></li>
                </ul>
            </div>
            <!-- footer col2 -->
            <div class="col-xs-6 col-md-3">
                <h5>Courses</h5>
                <ul>
                    <li>by Lam Tran</li>
                    <li>an awesome guy</li>
                    <li><a href="#">Contact him</a></li>
                </ul>
            </div>
            <!-- footer col3 -->
            <div class="col-xs-6 col-md-3">
                <h5>Profiles</h5>
                <ul>
                    <li>by Adel Sadrolgharavi</li>
                    <li>a dedicated man</li>
                    <li><a href="#">Contact him</a></li>
                </ul>
            </div>
            <!-- footer col4 -->
            <div class="col-xs-6 col-md-3">
                <h5>Products</h5>
                <ul>
                    <li>by Omkar Rege</li>
                    <li>an interesting guy</li>
                    <li><a href="#">Contact him</a></li>
                </ul>
            </div>

        </div>
    </div>
    <div class="copyright">
        <h5>Copyright @ 2016 Omkar Rege, Adel Sadrolgharavi, Bing Shi, Lam Tran</h5>
    </div>
</footer>
