<div class="reasons-col animate-onscroll fadeIn">

    <img src="img/profile.jpg" alt="">

    <div class="reasons-titles">

        <h3 class="reasons-title">Profiles</h3>
        <!--<h5 class="reason-subtitle">We are humans</h5>-->

    </div>

    <div class="on-hover hidden-xs">

        <p class="profile-list"><a [routerLink]="['/profile/10205960577629832']">Lam Tran</a></p>
        <p class="profile-list"><a [routerLink]="['/profile/563778107151389']">Adel Sadrolgharavi</a></p>
        <p class="profile-list"><a [routerLink]="['/profile/1188863197867285']">Bing Shi</a></p>
    </div>
</div>
