<div class="reasons-col animate-onscroll fadeIn">

    <img src="img/courses.jpeg" alt="">

    <div class="reasons-titles">

        <h3 class="reasons-title">Courses</h3>
        <!--<h5 class="reason-subtitle">We are humans</h5>-->

    </div>

    <div class="on-hover hidden-xs router-list">

        <p class="course-list"><a [routerLink]="['/course-detail/San Jose State University/Spring 2016/-KY1NmrhdhUrLp3GbURy']">San Jose State University/Spring 2016/CMPE 272</a></p>
        <p class="course-list"><a [routerLink]="['/course-detail/San Jose State University/Spring 2016/-KY1ZhzK2lHBsqHsGiAE']">San Jose State University/Spring 2016/CMPE 273</a></p>
        <p class="course-list"><a [routerLink]="['/course-detail/San Jose State University/Spring 2016/CMPE-280']">San Jose State University/Spring 2016/CMPE 280</a></p>

    </div>


</div>
